includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: max
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - app/Http/Controllers/Api/AttendanceContextController.php
    databaseMigrationsPath:
        - database/migrations

parametersSchema:
    checkMissingIterableValueType: bool()
    checkGenericClassInNonGenericObjectType: bool()
